@media screen and (max-width: 600px) {
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .left {
    color: rgb(0, 0, 0);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

  }
  
  nav li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  nav li:hover{
    text-decoration: underline  rgba(3, 255, 137, 0.747) 5px;

  }
  .careers-btn {
    height: 2.5rem;
    background-image: linear-gradient(90deg, #31d35c, #2bb7da);
    max-width: 9rem;
    border-radius: 1.5rem;
    border: 0px;

  }

 .careers-btn:hover {
    background: linear-gradient(to right,green,blue);
    

  }
  

  .head-section {
        
      color: rgb(0, 0, 0);
      padding: 2rem 3rem;
      font-family: Arial, Helvetica, sans-serif;
     max-height: 1100px;
      padding: 22px;
  }

  .head-section img {
    background-image: url(https://easybank.demtro.ch/assets/images/bg-intro-desktop.svg);
      float: right;
      margin-left: 16px;
max-width: 500px;
      z-index: -1;
  }

  .head-text {
      text-align: left; 
  }






  .whyBlock__title {
    max-width: 35rem;
    padding: 10rem;
    text-align: left;
}
.whyBlock__cards {
    padding: 10rem;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float:left;
  }
  

  .whyBlock__card-img {

    margin: 0 auto;
  }
  
  .whyBlock__title h2,
  .whyBlock__title p {
    text-align: left;
  }
.b{
  font-size: 0.67em;
  line-height: 1.5;
    font-weight: 400;
    color: #9698a6;
}
.whyBlock__card-img2:hover{
  width: 330px;
  flex-wrap: wrap;
}




footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  height:100px;
  display: flex;
  flex-wrap: wrap;

}

.logo {
  float: left;
  margin: 4px;
}

.icons {
  margin-top: 10px;
  float:left;
  display: flex;
  justify-content: center;
}


.icons img {
  width: 30px;
  margin-right: 10px;
  float:left;
}
footer ul {
  list-style: none;
  gap: 10px;
  float:left;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: center;
  flex-wrap: wrap;
}


footer li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: center;
  flex-wrap: wrap;
  
}


footer li:hover{
  text-decoration: underline  rgba(3, 255, 137, 0.747) 5px;

}

footer .careers-btn {
  height: 2.5rem;
  background-image: linear-gradient(90deg, #31d35c, #2bb7da);
  max-width: 9rem;
  border-radius: 1.5rem;
  border: 0px;
  float: right;
  float: inline-start;
}

footer.careers-btn:hover {
  background: linear-gradient(to right,green,blue);
  

}



